/* Header */
.logo {
    height: 180px;
    background-color:  rgb(29, 186, 238);
    background-image: url(../img/logo.svg), url(../img/pattern.png);
    background-repeat: no-repeat, repeat;
    background-position: left bottom, auto;
    background-size: 300px 250px, auto;
}

.grey{
    color: grey;
    font-weight: bold;
}

#bluefont {
    color: rgb(29, 186, 238);
}

.small {
    font-size: 12px;
}

.date {
    margin-bottom: 20px;
}

/* Main */

.highlight {
    background-color: yellow;
}

thead {
    background-color:rgb(29, 186, 238);
    color: white;
    text-align: left;
}

td {
    width: 33%;
}

.lightblue {
    background-color: lightblue;
}

/* Footer */

.recommended {
    width: 350px;
    height: 250px;
    color: white;
    font-size: 30px;
    text-decoration: none;
    display: block;
    margin-top: 10px;
}

.monitor {
    background: url(../img/monitor.jpg);
    background-size: cover;
}

.screen {
    background: url(../img/graph.jpg);
    background-size: cover;
}